
/* styles.css */
.form-container {
  width: 300px;
  margin: 20px auto;
}

.formulario-com-erro {
 background-color:  #FF0000;
}

.formulario-ok {
  background-color:  rgb(7, 235, 7);
 }

.submitted {
  background-color: #E0E0E0;
}
